include mixins/header

block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    title Home
    link(rel="stylesheet" href="/styles/hierarchy.css")
    script(src="https://cdn.tailwindcss.com")
    script(src="/home.js")

  body
    div#root
      block layout-contents
        +header()

        main.mt-20  
          div(class='grid  gap-4 p-5 grid-cols-4 lg:grid-cols-5 xl:grid-cols-6') 
            each photo in photos
              div.m-5.relative.rounded-lg.shadow-lg.overflow-hidden.group
                img(src=photo.url alt=photo.label)
                div(class= "absolute opacity-0 group-hover:opacity-100 ease-in-out duration-300  top-0 left-0 w-full h-full bg-black/25")
                  p.text-white.text-sm.absolute.p-5.bottom-0.left-0.w-full.m-0 #{photo.label}
                  a( href=`/delete-photo/${photo.id}` class="rounded-lg border border-red-500 px-2 py-1 text-red-500 absolute p-5 top-2 right-2 cursor-pointer" id=`${photo.id}`)   delete

        div(class='fixed top-0 left-0 w-full h-full bg-black/50 hidden')#modal
          div(class='bg-white w-1/2 p-5 rounded-lg shadow-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2')
            h1 Add a photo
            form(action="/add-photo", method="post", class='flex flex-col gap-4')
              input(type='text' placeholder='Label' class='border border-gray-500 rounded-md p-1 w-full' name='label')
              input(type='text' placeholder='URL' class='border border-gray-500 rounded-md p-1 w-full' name='url')
              input(class='bg-emerald-500 text-white shadow-md rounded-md p-3' type="submit") 
              button(class='bg-red-500 text-white shadow-md rounded-md p-3')#closeBtn Cancel